
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Registro Propuesta</h4>
        </div>
        <div class="modal-body">
            <div class="col-sm-8 col-lg-offset-2">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Medio</td>
                            <td>Procentaje</td>
                            <td>Local</td>
                            <td>Mensaje</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8 col-lg-offset-2">
                <div id="summernote" class="summernote">Hello Summernote</div>
                <textarea></textarea>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>


