<div>

    <div>
        <center><h2>Sugerir Temporada para promocionar producto</h2></center>

    </div>
    <div>
        <div class="col-sm-5 col-sm-offset-3">
            <table class="table ">
                <thead>
                    <tr>
                        <td>Combo</td>
                        <td>Seleccionar</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>combo1</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>combo2</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>combo3</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-sm-5 col-sm-offset-3">
            <div class="col-sm-4">
                <div class="col-sm-12">
                    <label class="col-sm-6">Periodo Inicio</label>
                    <input class="col-sm-6" type="number" step="1" min="0" max="4" />
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">Periodo Fin</label>
                    <input class="col-sm-6" type="number" step="1" min="0" max="4" />
                </div>
            </div>
            <div class="col-sm-7">
                <div class="col-sm-12">
                    <label class="col-sm-8">Año Inicio</label>
                    <input class="col-sm-4" type="number" step="1" min="2000" max="2018" />
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-8">Año Fin</label>
                    <input class="col-sm-4" type="number" step="1" min="2000" max="2018" />
                </div>
            </div>
            <div class="col-sm-1">
                <div class="col-sm-4 col-sm-offset-4">
                    <br />
                    <input type="button" class="btn btn-default" value="Filtrar" />
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-3">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <textarea rows="10"></textarea>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-3">
            <label class="col-sm-12">Sugerencia</label>
            <textarea class="col-sm-12" id="txtsugerencia" rows="10"></textarea>
        </div>
        <div class="col-sm-5 col-sm-offset-3">
            <div class="col-sm-6">
                <label class="col-sm-12">Sugerencia</label>
                <textarea class="col-sm-12" rows="10"></textarea>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-default center-block" value="Previsualizar" />
                    <br />
                </div>
                <div class="col-sm-12">
                    <input type="button" class="btn btn-default center-block" value="Guardar propuesta" />
                    <br />
                </div>
                <div class="col-sm-12">
                    <input type="button" class="btn btn-default center-block" value="Salir" />
                    <br />
                </div>
            </div>
        </div>
    </div>

</div>
